<section id="emp">
    <article>
        <h2> create employee</h2>

        <form action="/employee/create-emp" method="post">

            <input type="text" name="eid" id="eid" placeholder="enter your id" required>
            <input type="text" name="ename" id="ename" placeholder="enter your name" required>
            <button type="submit">Submit</button>
        </form>
    </article>
</section>