<section id="navbar">
    <article>
        <aside class="logo">
            <a href="#">
                <span class="t">Test</span>
                <span class="y">Yantra</span>
            </a>
        </aside>

        <aside class="menu">
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/employee/create-emp">Create Employee</a>
                    </li>
                    <li>
                        <a href="/employee/all-emp">All Employee</a>
                    </li>
                    <li>
                        <a href="/login">login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </article>
</section>